%p#notice= notice

%p
  %b Url:
  = @source.url
%p
  %b Title:
  = @source.title
%p
  %b Description:
  = @source.description

= link_to 'Edit', edit_source_path(@source)
\|
= link_to 'Back', sources_path
