= form_for @opml_file do |f|
  - if @opml_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@opml_file.errors.count, "error")} prohibited this opml_file from being saved:"
      %ul
        - @opml_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :source
    = f.text_area :source
  .field
    = f.label :owner
    = f.text_field :owner
  .actions
    = f.submit 'Save'
