%h1 Listing opml_files

%table
  %tr
    %th Source
    %th Owner
    %th
    %th
    %th

  - @opml_files.each do |opml_file|
    %tr
      %td= opml_file.source
      %td= opml_file.owner
      %td= link_to 'Show', opml_file
      %td= link_to 'Edit', edit_opml_file_path(opml_file)
      %td= link_to 'Destroy', opml_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Opml file', new_opml_file_path
